.circulo {
    position: absolute;
    top: 17%;
    right: 43.5%;
    width: 6%;
    height: 15%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: #FFD700;
}

#numero {
    position: relative;
    padding: 5px;
    z-index: 1 ;
}

.Logo-Brand {
    position: relative;
    height: 21vmin;
    z-index: 2 ;
}


