.Nav-Style {
    display: flex;
    background-color: #DC1E45;
    /*background-color: #dc1a22;*/
    flex-direction: column;
    align-content: flex-start;
}

#responsive-navbar-nav{
    font-size: 20px;
    justify-content: center;
    width: 80vw;
}

.nav-link {
    margin: 10px;
}

@media (max-width: 992px){
    .Nav-Style{
    flex-direction: row-reverse;
    }
    .Logo-Brand, .navbar-toggler{
        margin: 20px;
    }
}
